body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

fieldset {
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 20px;
    max-width: 500px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

legend {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
}

h2 {
    text-align: center;
    color: #007BFF;
}

label {
    font-weight: bold;
    color: #555;
}

input, textarea, select {
    width: 100%;
    padding: 8px;
    margin: 5px 0 20px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"], input[type="reset"] {
    background-color: #007BFF;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover, input[type="reset"]:hover {
    background-color: #0056b3;
}

input[type="checkbox"], input[type="radio"] {
    width: auto;
    margin-right: 10px;
}

select, input[type="color"], input[type="file"], input[type="range"] {
    width: auto;
}

br {
    line-height: 2;
}